:root {
  --black: #3b3030;
  --blue: #1167b1;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Calibri', sans-serif;
}

body {
  background-color: var(--blue);
  padding: 20px 0;
}


.page1 {
  width: 8.5in;
  height: 11in;
  background: #f8fafc;
  color: var(--black);
  margin: auto;
  padding: 1in;
}


.fullname {
  font-size: 2rem;
}


.contact-info > ul {
  list-style-type: none;
  display: flex;
}

.contact-info > ul > li {
  margin-right: 5px;
  padding-right: 5px;
  border-right: solid var(--black) 1px;

}

.contact-info > ul > li:last-of-type {
  border-right: none;
}


.tech-skills > ul {
  list-style-type: none;
}


h2 {
  color: var(--blue);
}


.page1> section:nth-of-type(1) {
  padding-bottom: 0;
}


.page1 > section:nth-of-type(2) {
  padding-bottom: 40px;
}

.page1 > section:not(:nth-of-type(1)):not(:nth-of-type(2)) {
  padding-bottom: 20px;
}
