* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1167b1;
  padding: 20px 0;
}


.page1 {
  width: 50%;
  height: 100vh;
  background: #f8fafc;
  color: #3b3030;
  margin: auto;
  padding: 1in;
}


.fullname {
  font-size: 2rem;

}


.contact-info {
  display: flex;
}
